.container {
  margin: 80px 132px;
}

.section_header {
  display: block;
  color: var(--dark-green);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
}

.column {
  column-count: 2;
}
