<<<<<<< Updated upstream
//catalog css start here
.catalog-section {
  padding: 0;
  width: 100%;
}

=======
>>>>>>> Stashed changes
.catalog-div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
<<<<<<< Updated upstream
  padding: 0;
  margin: 0;
=======
>>>>>>> Stashed changes
}

.catalog-head {
  color: var(--dark-green, #1e2827);
<<<<<<< Updated upstream
  font-size: 40px;
  font-weight: 600;
  line-height: 44px; /* 110% */
  letter-spacing: -0.8px;
=======
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 110% */
  letter-spacing: -0.8px;
  padding-left: 12px;
>>>>>>> Stashed changes
  margin: 0;
}

.catalog-ul {
  max-width: 1440px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
<<<<<<< Updated upstream
  gap: 24px;
}

.catalog-li {
  padding: 0px 0px;
  height: 100%;
  margin-top: 36px;
  position: relative;
  padding: 0;
  width: calc((100% - 72px) / 4);
=======
}

.catalog-li {
  padding: 0px 12px;
  width: calc(100% / 4);
  height: 100%;
  margin-top: 64px;
  position: relative;
>>>>>>> Stashed changes
}

.catalog-flip,
.catalog-description {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.catalog-front,
.catalog-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
<<<<<<< Updated upstream
  margin: 0;
=======
>>>>>>> Stashed changes
}

.catalog-img {
  width: 100%;
  margin: auto;
}

<<<<<<< Updated upstream
.catalog-content {
  margin-bottom: 26px;
}

.catalog-description p {
  overflow: hidden;
  color: var(--black);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
=======
.catalog-description p {
  overflow: hidden;
  color: var(--black, #141414);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
>>>>>>> Stashed changes
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  margin: 0;
}

.catalog-description span {
  color: rgba(20, 20, 20, 0.5);
<<<<<<< Updated upstream
  font-size: 12px;
=======
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
>>>>>>> Stashed changes
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.24px;
  margin: 0;
}

.catalog-front {
  display: flex;

  position: absolute;
}

.catalog-back {
  border-radius: 8px;
  background: var(--dark-green, #1e2827);
  transform: rotateY(180deg);
  padding: 20px;
}

.catalog-li:hover .catalog-flip {
  transform: rotateY(180deg);
}

.catalog-back h3 {
<<<<<<< Updated upstream
  color: var(--white);
=======
  color: var(--white, #fff);
>>>>>>> Stashed changes
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.catalog-back p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}

.back-details {
  width: 162px;
}

.catalog-buy {
  position: relative;
  margin: 80px 0px;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 0;
}

.catalog-button {
<<<<<<< Updated upstream
  background: var(--dark-green);
  border-radius: 8px;
  padding: 18px 35px;
  justify-content: flex-end;
  color: var(--white);
  text-align: center;
  font-family: Epilogue;
  font-size: 12px;
=======
  background: var(--dark-green, #1e2827);
  border-radius: 8px;
  padding: 18px 35px;
  justify-content: flex-end;
  color: #fff;
  text-align: center;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
>>>>>>> Stashed changes
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;
}

<<<<<<< Updated upstream
//catalog phone view start here
=======
>>>>>>> Stashed changes
@media (min-width: 150px) and (max-width: 767px) {
  .catalog-section {
    width: 100%;
    padding: 18px;
<<<<<<< Updated upstream
    margin: 0;
  }

  .catalog-ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-li {
    width: 100%;
  }

  .catalog-flip,
  .catalog-description {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-img {
    width: 276px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-buy {
    margin: 40px 0px 0px;
  }
}

//catalog tablet view start here
@media (min-width: 768px) and (max-width: 1157px) {
  .catalog-section {
    width: 100%;
    padding: 72px;
=======
  }

  .catalog-section {
    width: 100%;
>>>>>>> Stashed changes
  }

  .catalog-div,
  .catalog-ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
  }

  .catalog-ul {
<<<<<<< Updated upstream
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .catalog-li {
    width: calc(100% / 2);
    padding-left: 5%;
    padding-right: 5%;
  }

  .catalog-flip {
    width: 100%;
=======
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-li {
    width: 100%;
  }

  .catalog-flip {
    width: 336px;
>>>>>>> Stashed changes
    margin-left: auto;
    margin-right: auto;
  }

<<<<<<< Updated upstream
  .catalog-description {
    width: 100%;
=======
  .catalog-img {
    width: 276px;
  }

  .catalog-description {
    width: 336px;
>>>>>>> Stashed changes
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-buy {
    margin: 40px 0px 0px;
  }

<<<<<<< Updated upstream
  .catalog-img {
    width: 276px;
  }
}

//hiding 9 to 12 element starting tablet view here
@media (max-width: 1157px) {
=======
>>>>>>> Stashed changes
  .catalog-li:nth-child(n + 9) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
  }
}

<<<<<<< Updated upstream
//catalog web view start here
@media (min-width: 1158px) {
  .catalog-div {
    width: 1158px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
=======
@media (min-width: 768px) and (max-width: 1157px) {
  .catalog-section {
    width: 100%;
  }

  .catalog-section {
    width: 100%;
  }

  .catalog-div,
  .catalog-ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
  }

  .catalog-li {
    width: calc(100% / 2);
  }

  .catalog-flip {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-description {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-buy {
    margin: 40px 0px 0px;
  }

  .catalog-img {
    width: 276px;
  }

  .catalog-li:nth-child(n + 9) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
  }
}

@media (min-width: 1158px) {
  .catalog-div {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
>>>>>>> Stashed changes
  }

  .catalog-front {
    overflow: hidden;
    justify-content: center;
  }

  .catalog-img {
<<<<<<< Updated upstream
    width: 100%;
=======
    width: 276px;
>>>>>>> Stashed changes
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-section {
<<<<<<< Updated upstream
    padding: 80px 0px 80px 0px;
  }
}

//catalog image cards animation here
.catalog-img {
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in-up 1s ease forwards;
  animation-play-state: paused;
}

//animation play by 4 items
.image:nth-child(1),
.image:nth-child(2),
.image:nth-child(3),
.image:nth-child(4) {
  animation-delay: 3s;
}

.image:nth-child(5),
.image:nth-child(6),
.image:nth-child(7),
.image:nth-child(8) {
  animation-delay: 5s;
}

.image:nth-child(9),
.image:nth-child(10),
.image:nth-child(11),
.image:nth-child(12) {
  animation-delay: 7s;
}

//keyframes effect
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
=======
    padding: 80px 132px 80px 132px;
>>>>>>> Stashed changes
  }
}
