.footer {
  width: 100%;
  background: #1e2827;
  color: #ffffff;
  padding: 40px 0px 20px 0px;
}

.container-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: #ffffff;
}

.footer-address {
  display: block;
}

.address-logo {
  display: block;
  margin-bottom: 40px;
  max-width: 50px;
}

.address-img {
  width: 40px;
  height: 40px;
}

.address-phone {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.address-text {
  display: block;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.footer-nav {
  display: block;
  letter-spacing: -0.02em;
}

.nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.social-list {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 15vh;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-item:not(:last-child) {
  margin-right: 14px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  border: 1px solid #ffffff;
}

.footer-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.text-text {
  margin-bottom: 14px;
}

.text-privacy {
  display: flex;
  align-items: center;
  position: relative;
}

.text-privacy .underline:before {
  top: 100%;
}

.footer-nav .underline:before {
  top: 90%;
}

.footer-address a {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address a:hover,
.footer-address a:focus {
  opacity: 0.7;
}

.privacy {
  margin-right: 18px;
  text-decoration: none;
}
.service {
  text-decoration: none;
}
.list {
  list-style: none;
}
.footer-nav-font {
  color: white;
}

.copyright-font {
  color: #c6cdd1;
}

.mobile-social-item {
  visibility: hidden;
}
/* mobile  */
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .footer-social {
    visibility: hidden;
  }
  .mobile-social-list .mobile-social-item .mobile-social-link {
    visibility: visible;
  }
  .mobile-social-item {
    margin-top: 40px;
    padding-left: 14px;
  }
  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-social-list {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 14px;
  }
  .nav-list {
    list-style: none;
    text-decoration: none;
    position: relative;
  }
  .footer-address {
    margin-left: 20px;
    width: calc((100% / 2) - 20px);
  }
  .text-text {
    margin-left: 20px;
    width: 100%;
  }
  .footer-nav {
    margin-right: 20px;
    width: calc((100% / 2) - 20px);
    display: flex;
    justify-content: flex-end;
  }
  .container-menu {
    margin-bottom: 80px;
  }
  .text-privacy {
    padding-top: 14px;
    margin-left: 20px;
    width: 100%;
  }
  .privacy {
    margin-right: 14px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 0px 20px 0px;
  }
  .footer-address {
    margin-left: 20px;
  }
  .container-menu {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 152px;
    font-size: 18px;
    line-height: 1.33;
  }

  .address-img {
    width: 50px;
    height: 50px;
  }
  .footer-nav-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .social-item {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .social-item {
    width: 44px;
    height: 44px;
  }
  .social-list {
    padding-right: 40px;
  }
  .social-item:not(:last-child) {
    margin-right: 16px;
  }

  .footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 1.29;
  }
  .text-text {
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .privacy {
    margin-right: 18px;
  }
  .text-privacy {
    padding-right: 40px;
  }
}

/* laptop */
@media screen and (min-width: 1280px) {
  .footer {
    padding: 104px 0px 32px 0px;
  }

  .container-menu {
    margin-bottom: 174px;
  }
  .footer-text {
    gap: 680px;
  }
}
.list {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}
.privacy {
  margin-right: 18px;
}
