@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap');

img {
  width: 100%;
}

.hero-container {
  margin: 0;
  background-color: var(--black);

  .hero-section-text {
    display: flex;
    flex-direction: row;
  }

  .hero-text {
    width: 50%;

    h1 {
      flex: 3;
      font-family: 'Epilogue', sans-serif;
      color: var(--white);
      font-size: 60px;
      font-weight: 600;
      line-height: 62px;
      letter-spacing: -4px;
      // width: 100%;
    }
  }

  .paragraph-text {
    width: 50%;

    p {
      font-family: 'Epilogue', sans-serif;
      color: var(--white);
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin-left: 100px;
    }
  }
}

.container-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  // width: 100%;

  .image-slider {
    width: 40%;
    padding: 60px 60px 60px 0px;
  }

  .hero-image {
    width: 60%;
  }

  .slider-images {
    margin-top: 20px;
    display: flex;
    // width: 400px;
    justify-content: space-between;
    padding: 0;

    .sliders {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .timer {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

.heading-mobile-view {
  display: none;
}

.container-slider-mobile {
  display: none;
}

.hero-image-mobile {
  margin-top: 20px;
}




@media screen and (min-width: 769px) and (max-width: 1023px) {

  .heading-mobile-view {
    display: none;
  }

  .container-slider-mobile {
    display: none;
  }

  .slider-images-mobile {
    display: none;
  }

  .paragraph-mobile {
    display: none;
  }

  .hero-container .hero-section-text {
    display: none;
  }
  
  .container-images {
    display: none;
  }

  .heading-tablet-view {
    display: block;
    font-size: 38;
    line-height: 40px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 25px;
  }

  .container-tablet-text{ 
    display: block;
  }

  .paragraph-tablet {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    margin-bottom: 25px;
  }

  

  .hero-image-tablet {
    margin-top: 20px;
  }

  .slider-images-tablet{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}



@media screen and (max-width: 768px) {
  .hero-container {
    margin: 0;
    background-color: var(--black);
    padding: 20px;

    .hero-section-text {
      display: none;
    }

    .hero-text {
      display: none;

      h1 {
        display: none;
      }
    }

    .paragraph-text {
      display: none;

      p {
        display: none;
      }
    }
  }

  .container-images {
    display: none;

    .image-slider {
      display: none;
    }

    .hero-image {
      display: none;
    }

    .slider-images {
      display: none;

      .sliders {
        display: none;
      }

      .timer {
        display: none;
      }
    }
  }

  .heading-mobile-view {
    display: block;
    font-size: 38;
    line-height: 40px;
    font-weight: 600;
    color: var(--white);
  }

  .container-slider-mobile {
    display: block;
    margin-top: 50px;
  }

  .slider-images-mobile {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .paragraph-mobile {
    font-weight: 300px;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    margin-bottom: 25px;
  }

  .hero-image-mobile {
    margin-top: 20px;
  }

  .heading-tablet-view {
    display: none;
  }

  .paragraph-tablet {
    display: none;
  }

  .hero-image-tablet {
    display: none;
  }

  .container-tablet{
    display: none;
  }

}

@media screen and (min-width: 1024px) {
  /* Your CSS styles for this range */
  .heading-tablet-view {
    display: none;
  }
  
  .paragraph-tablet {
    display: none;
  }
  
  .hero-image-tablet {
    display: none;
  }

  .container-tablet{
    display: none;
  }

}
