@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap');

img {
  width: 100%;
}

.hero-container {
  margin: 0;
  background-color: var(--black);
  padding: 40px 200px 40px 200px;

  .hero-section-text {
    display: flex;
    flex-direction: row;
  }

  .hero-text {
    width: 50%;

    h1 {
      flex: 3;
      font-family: 'Epilogue', sans-serif;
      color: var(--white);
      font-size: 60px;
      font-weight: 600;
      line-height: 62px;
      letter-spacing: -4px;
      // width: 100%;
    }
  }

  .paragraph-text {
    width: 50%;

    p {
      font-family: 'Epilogue', sans-serif;
      color: var(--white);
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin-left: 250px;
    }
  }
}

.container-images {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;

  .image-slider {
    width: 40%;
    padding: 0px 60px 60px 0px;
  }

  .hero-image {
    width: 60%;
  }

  .slider-images {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    // max-width: 100%;
    height: auto;
    

    .sliders {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 40px;
    }

    .timer {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 40px;

    }
  }
}

.mySwiper {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}
