@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap');

img {
  width: 100%;
}

.hero-container {
  margin: 0;
  background-color: var(--black);

  .hero-section-text {
    display: flex;
    flex-direction: row;
  }

  .hero-text {
    width: 50%;

    h1 {
      flex: 3;
      font-family: 'Epilogue', sans-serif;
      color: var(--white);
      font-size: 60px;
      font-weight: 600;
      line-height: 62px;
      letter-spacing: -4px;
      // width: 100%;
    }
  }

  .paragraph-text {
    width: 50%;

    p {
      font-family: 'Epilogue', sans-serif;
      color: var(--white);
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin-left: 250px;
    }
  }
}

.container-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 50px;
  padding-bottom: 80px;
  // width: 100%;

  .image-slider {
    width: 40%;
    padding: 60px 60px 60px 0px;
  }

  .hero-image {
    width: 60%;
  }

  .slider-images {
    margin-top: 20px;
    display: flex;
    // width: 400px;
    justify-content: space-between;
    padding: 0;

    .sliders {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .timer {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

.heading-mobile-view {
  display: none;
}

.container-slider-mobile {
  display: none;
}

@media screen and (max-width: 1279px) {
  .heading-mobile-view {
    display: block;
    font-size: 38;
    line-height: 40px;
    font-weight: 600;
    color: var(--white);
  }

  .container-slider-mobile {
    display: block;
    margin-top: 50px;
  }

  .slider-images-mobile {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .paragraph-mobile {
    font-weight: 300px;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
  }

  .hero-image-mobile {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hero-container {
    margin: 0;
    background-color: var(--black);

    .hero-section-text {
      display: none;
    }

    .hero-text {
      display: none;

      h1 {
        display: none;
      }
    }

    .paragraph-text {
      display: none;

      p {
        display: none;
      }
    }
  }

  .container-images {
    display: none;

    .image-slider {
      display: none;
    }

    .hero-image {
      display: none;
    }

    .slider-images {
      display: none;

      .sliders {
        display: none;
      }

      .timer {
        display: none;
      }
    }
  }

  .heading-mobile-view {
    display: block;
    font-size: 38;
    line-height: 40px;
    font-weight: 600;
    color: var(--white);
  }

  .container-slider-mobile {
    display: block;
    margin-top: 60px;
  }

  .slider-images-mobile {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .paragraph-mobile {
    font-weight: 300px;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
  }

  .hero-image-mobile {
    margin-top: 20px;
  }
}

// edited part here

@media screen and (max-width: 767px) {
  .hero-container {
    padding-top: 122px;
  }

  .image-slider {
    width: 80%;
    padding-bottom: 30px;
  }

  .paragraph-mobile-div {
    width: 100%;
  }
  .paragraph-mobile {
    padding-left: 87px;
    letter-spacing: -0.28px;
  }

  .hero-image-mobile {
    padding-bottom: 40px;
  }

  .heading-tablet-view,
  .paragraph-text-tablet,
  .hero-image-tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tablet-view {
    padding-top: 148px;
    padding-bottom: 64px;
  }
  .hero-section {
    background-color: var(--black);
  }

  .heading-tablet-view {
    padding-bottom: 60px;
  }

  p.paragraph-tablet {
    width: 50%;
    font-family: 'Epilogue', sans-serif;
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-left: 250px;
    padding-bottom: 40px;
  }

  .heading-tablet-view h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.03;
    letter-spacing: -2.4px;
    color: #ffffff;
    margin: 0;
    width: 90%;
  }

  .heading-mobile-view {
    display: none;
  }

  .hero-container {
    display: none;
  }

  .container-slider-mobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 148px;
  }

  .tablet-view {
    display: none;
  }
}
