.sale-section {
  padding: 80px 0 160px;
}

.sale-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 75%;
  margin: 0 auto;
}

.sale-section-title {
  padding-bottom: 80px;
  color: var(--dark-green);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.8px;
}

.sale-gallery {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.gallery-divider-small {
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
  gap: 10px;
}

.sale-img-small,
.sale-img-big {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

.sale-name {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.76px;
  padding-bottom: 8px;
  color: var(--black);
}

.product-tag {
  color: rgba(20, 20, 20, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  padding-bottom: 16px;
}

.sale-price {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.36px;
  padding-right: 8px;
  padding-bottom: 20px;
}

.orig-price {
  color: rgba(20, 20, 20, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.24px;
  text-decoration-line: line-through;
}

.sale-desc-feat {
  border-top: 1px solid var(--black, #141414);
  margin: 20px 0;
}

.sub-description {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
  line-height: 1.33;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  color: var(--black);
}

.sale-item-desc {
  padding-top: 9px;
  color: rgba(20, 20, 20, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.14px;
}

.sale-description {
  width: 50%;
}

// TABLET VIEW

@media screen and (max-width: 1279px) {
  .sale-container {
    flex-direction: column;
    width: 100%;
  }

  .sale-gallery {
    gap: 20px;
  }

  .sale-description {
    width: 572px;
    margin: 0 auto;
  }

  .sale-section-title {
    padding-bottom: 40px;
  }

  .sale-section {
    padding: 64px 0 128px;
  }
}

// MOBILE VIEW
@media screen and (max-width: 768px) {
  .images {
    max-width: 100%;
  }
  .sale-section-title {
    color: var(--black);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.64px;
    padding-bottom: 40px;
  }

  .sale-section {
    padding: 40px 0 80px;
  }

  .sale-description {
    width: 365px;
  }
}
