@import './common';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap');
@import './header';
@import './hero';
@import './aboutus';
@import './catalog';
@import './modal';
@import './newWatch';
@import './sale-section';
@import './footer';

* {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
}
:root {
  --black: #141414;
  --dark-green: #1e2827;
  --white: #fff;
}

@media screen and (max-width: 767px) {
  .aboutus_section,
  .catalog-section,
  .newWatch_section,
  .sale-section,
  .footer-container,
  .hero-section-text,
  .container-images,
  .main-nav,
  .mobile-view {
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
    border: forestgreen solid 1px;
  }
  .hero-section {
    background-color: var(--black);
  }

  section .hero-container {
    margin-left: auto;
    margin-right: auto;
  }

  .menu-container {
    z-index: 10;
    border: yellow solid 1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aboutus_section,
  .catalog-section,
  .newWatch_section,
  .sale-section,
  .footer-container,
  .hero-section-text,
  .container-images,
  .main-nav,
  .tablet-view {
    max-width: 734px;
    margin-left: auto;
    margin-right: auto;
    border: green solid 1px;
  }

  section .hero-container {
    margin-left: auto;
    margin-right: auto;
  }

  // mobile menu backup
  // .mobile-menu-icon,
  // button.menu-toggle {
  //   display: none;
  //   margin-left: auto;
  //   margin-right: auto;
  //   border: green solid 1px;
  // }
}

@media screen and (min-width: 1280px) {
  .aboutus_section,
  .catalog-section,
  .newWatch_section,
  .sale-section,
  .footer-container,
  .hero-section-text,
  .container-images,
  .main-nav {
    max-width: 1206px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-icon {
    display: none;
  }
}

// @media screen and (min-width: 1280px) {
//   .main-nav {}

//   .aboutus_section,
//   .catalog-section,
//   .newWatch_section,
//   .sale-section {
//     padding: 80px 132px;
//   }

//   .footer {
//     padding: 104px 132px 32px;
//   }
// }
