body {
  font-family: 'Epilogue', sans-serif;
  background-color: #141414;
}

.main-header {
  background-color: #141414;
  color: #fff;
}

.header-content {
  padding: 20px 132px;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo Styles */
.logo {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo svg {
  margin-right: 4px;
}

.logo a {
  display: flex;
  align-items: center;
}

/* Logo Text Styles */
.logo-text {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  display: inline;
}

/* Navigation Styles */
.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
}

.mobile-menu-icon {
  display: none;
}

/* Contact Box Styles */
.contact-box {
  border-radius: 8px;
  background: var(--dark-green, #1e2827);
  width: 159px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.contact-box:hover {
  background-color: #2c3c3a;
  cursor: pointer;
}

/* Contact Link Styles */
.nav-link,
.contact-number {
  color: var(--white, #fff);
  text-align: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.33em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Contact Section Styles */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

/* Media Queries */

/* Mobile phone version 375px to 768px */
@media only screen and (min-width: 375px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .nav-list,
  .contact-box {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-icon,
  .close-menu-icon {
    margin-top: 5px;
  }

  .mobile-menu-icon,
  .close-menu-icon,
  .nav-list {
    transition: all 0.2s ease;
  }

  .nav-item {
    margin-bottom: 8px;
  }

  .contact-section {
    margin-top: 15px;
  }

  .header-content {
    padding: 20px;
    margin-top: 0;
  }

  p {
    margin-right: 0;
  }

  .nav-list.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-190%) translateX(30%);
    background-color: #141414;
  }
}

/* Tablet version 768px to 1280px */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .nav-list,
  .contact-box {
    display: flex;
  }

  .mobile-menu-icon,
  .close-menu-icon {
    display: none;
  }

  .nav-list.visible {
    display: none;
  }
}
