<section class="aboutus_section">
  <div class="container">
    <h2 class="section_title">About us</h2>
    <div class="column1">
      <p>
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
    </div>

    <div class="column2">
      <p>
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
        Browse our collection today and discover the perfect watch for you
      </p>
    </div>

    <div>
      <img
        src="../images/watchspot.gif"
        width="892"
        height="500"
        alt="watch spot gif"
      />
    </div>
  </div>
</section>
