<section class="aboutus_section" id="aboutus">
  <div class="aboutus_container">
    <div class="dummy-title">About us</div>
    <div class="flex-container">
      <div class="text-container">
        <div class="one">
          <h2 class="section_title">About us</h2>
        </div>

        <div class="two">
          <p class="txt">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </div>
        <div class="three">
          <p class="txt">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device &#150; it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best? Browse our collection today and discover the perfect
            watch for you
          </p>
        </div>
      </div>
      <img
        src="./images/watchspot.gif"
        alt="watch spot gif"
        class="gif-img"
        width="892"
        height="500"
      />
    </div>
  </div>
</section>
