<section class="catalog-section">
  <div class="catalog-div">
    <h2 class="catalog-head">Catalog</h2>
    <ul class="catalog-ul">
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_1.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_2.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_3.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_4.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_5.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_6.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_7.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_8.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_9.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_10.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_1.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_12.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div>
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
    </ul>
    <div class="catalog-buy">
      <button type="button" class="catalog-button" data-modal-open>
        Buy &nbsp; now
      </button>
    </div>
  </div>
  
    <div class="top-image">
    <img src="images/IMG_1.jpg" alt="Big Image" id="bigImagex">
    </div>
  <div class="bottom-images">
    <img src="images/IMG_1.jpg" alt="Image 1" class="small-image" onclick="displayImage('assets/IMG_1.jpg')">
    <img src="images/IMG_2.jpg" alt="Image 2" class="small-image" onclick="displayImage('assets/IMG_2.jpg')">
    <img src="images/IMG_3.jpg" alt="Image 3" class="small-image" onclick="displayImage('IMG_3.jpg')">
    <img src="images/IMG_4.jpg" alt="Image 4" class="small-image" onclick="displayImage('images/IMG_1.jpg')">
    <img src="images/IMG_5.jpg" alt="Image 5" class="small-image" onclick="displayImage('IMG_5.jpg')">
  </div>
</div>
<script>
function displayImage(imageUrl) {
  let x = imageUrl;
  document.getElementById('bigImagex').src = x;
 

  alert(x);
}
</script>
</section>

