<section class="catalog-section" id="catalog">
  <div class="catalog-div">
    <h2 class="catalog-head">Catalog</h2>
    <ul class="catalog-ul">
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip">
          <div class="catalog-front">
            <img
              src="images/IMG_1.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_2.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Avondale Watch Police For Men</p>
          <span class="catalog-span">€800</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_3.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
          <span class="catalog-span">€600</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_4.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Diver 300M Co-Axial Master Chronometer </p>
          <span class="catalog-span">€1400</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_5.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Taman Watch By Police For Men</p>
          <span class="catalog-span">€500</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_6.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Malawi Watch Police For Men</p>
          <span class="catalog-span">€555</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_7.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Diver 300M Co-Axial Master Chronometer </p>
          <span class="catalog-span">€1200</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_8.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Greenlane Watch By Police For Men</p>
          <span class="catalog-span">€1000</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_9.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Squardrc 5402 Chrono</p>
          <span class="catalog-span">€359</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_10.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
          <span class="catalog-span">€400</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_11.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Citizen</p>
          <span class="catalog-span">€519</span>
        </div>
      </li>
      <li class="modal-showme catalog-li" >
        <div class="catalog-flip" >
          <div class="catalog-front">
            <img
              src="images/IMG_12.jpg"
              alt=""
              width="276"
              height="274"
              class="catalog-img"
            />
          </div>
          <div class="catalog-back">
            <div class="catalog-content">
              <h3>Description</h3>
              <p class="back-description">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div>
              <h3>DETAILS & FEATUREStion</h3>
              <p class="back-details">
                Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                Metal Case Material: Metal Features: Multifunction Water
                Resistant: 5 (ATM) Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="catalog-p">Armani Exchange</p>
          <span class="catalog-span">€400</span>
        </div>
      </li>
    </ul>
    <div class="catalog-buy">
      <button type="button" class="catalog-button" data-modal-open>
        Buy &nbsp; now
      </button>
    </div>
  </div>
</div>
</section>

