<footer class="footer">
   <div class="container">
     <div class="container-menu">
       <address class="footer-address">
         <a class="address-logo" href="#" data-scrollto="body">
            <img
            class="address-img"
            src="./images/logofooter.svg"
            alt="logo"
            width="50"
            height="50"
          /></a>
         <a class="address-phone" href="tel:+380684439426"
           ><span class="footer-nav-font"><span class="footer-nav-font">+380 (68) 443-94-26 </span></a
         >
         <a
           class="address-text"
           href="https://www.google.com/maps/place/S+Pioneer+St,+Millcreek,+UT+84109,+Estados+Unidos/@58.1988067,-136.494469,3z/data=!4m6!3m5!1s0x875261a54bcc22ef:0xe4ed11fff970182b!8m2!3d40.698207!4d-111.8207606!16s%2Fg%2F1vr3dn5x?entry=ttu"
           target="_blank"
         >
           <span class="footer-nav-font"
             ><span class="footer-nav-font">16781 S. Pioneer Road </span><br />
             Salt Lake City <br />
             UT 84104
           </span>
         </a>
       </address>

       <nav class="footer-nav">
         <ul class="footer-nav-list list">
           <li class="footer-nav-item">
             <a
               class="nav-link underline"
               href="#"
               data-scrollto="section-about"
               ><span class="footer-nav-font">ABOUT US</span></a
             >
           </li>
           <li class="footer-nav-item">
             <a
               class="nav-link underline"
               href="#"
               data-scrollto="section-catalog"
               ><span class="footer-nav-font">CATALOG</span></a
             >
           </li>
           <li class="footer-nav-item">
             <a
               class="nav-link underline"
               href="#"
               data-scrollto="section-sale"
               ><span class="footer-nav-font">SALE</span></a
             >
           </li>
         </ul>
       </nav>

       <div class="footer-social">
         <ul class="social-list list">
           <li class="social-item">
             <a
               class="social-link"
               href="https://www.facebook.com/"
               target="_blank"
               aria-label="facebook social link"
             >
               <svg width="28" height="28">
                 <use href="./images/icons.svg#fb-big"></use>
               </svg>
             </a>
           </li>
           <li class="social-item">
             <a
               class="social-link"
               href="https://www.instagram.com/"
               target="_blank"
               aria-label="instagram social link"
             >
               <svg width="28" height="28">
                 <use href="./images/icons.svg#insta-big"></use>
               </svg>
             </a>
           </li>
           <li class="social-item">
             <a
               class="social-link"
               href="https://www.youtube.com/"
               target="_blank"
               aria-label="youtube social link"
             >
               <svg width="28" height="28">
                 <use href="./images/icons.svg#yt-big"></use>
               </svg>
             </a>
           </li>
         </ul>
         <!-- mobile -->

         <ul class="mobile-social-list list visually-hidden ">
           <li class="mobile-social-item">
             <a
               class="mobile-social-link"
               href="https://www.facebook.com/"
               target="_blank"
               aria-label="facebook social link"
             >
               <svg width="24" height="24">
                 <use href="./images/icons.svg#fb-small"></use>
               </svg>
             </a>
           </li>
           <li class="mobile-social-item">
             <a
               class="mobile-social-link"
               href="https://www.instagram.com/"
               target="_blank"
               aria-label="instagram social link"
             >
               <svg width="24" height="24">
                 <use href="./images/icons.svg#insta-small"></use>
               </svg>
             </a>
           </li>
           <li class="mobile-social-item">
             <a
               class="mobile-social-link"
               href="https://www.youtube.com/"
               target="_blank"
               aria-label="youtube social link"
             >
               <svg width="24" height="24">
                 <use href="./images/icons.svg#yt-small"></use>
               </svg>
             </a>
           </li>
         </ul>
       </div>
     </div>

     <div class="footer-text">
       <p class="text-text"><span class="copyright-font">
         &copy;2022 The Watch Spot. All rights reserved.</span>
       </p>
       <ul class="text-privacy">
         <li class="list">
           <a class="privacy underline" href="#"
             ><span class="copyright-font">Privacy Policy</span></a
           >
         </li>
         <li class="list">
           <a class="service underline" href="#"
             ><span class="copyright-font">Terms of Service</span></a
           >
         </li>
       </ul>
     </div>
   </div>
 </footer>