<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="default-list">
      <a class="active-two menu-item link" href="">Studio</a>
    </li>
    <li class="default-list">
      <a class="menu-item link" href="">Portfolio</a>
    </li>
    <li class="default-list">
      <a class="menu-item link" href="">Contacts</a>
    </li>
  </ul>
  <address class="mobile-address">
    <ul class="mobile-menu">
      <li class="mobile-ul">
        <a href="tel:+110001111111" class="active-two menu-item link"
          >+11 (000) 111-11-11</a
        >
      </li>
      <li class="mobile-ul">
        <a href="mailto:info@devstudio.com" class="menu-item link unactive"
          >info@devstudio.com</a
        >
      </li>
    </ul>
    <div class="social">
      <p class="social-text">Social media</p>
      <ul class="footer-social-icons list social-mobile">
        <li class="footer-li">
          <a href="" class="footer-link">
            <svg class="footer-icons" width="24" height="24">
              <use href="./images/icons.svg#instagram2"></use>
            </svg>
          </a>
        </li>
        <li class="footer-li">
          <a href="" class="footer-link">
            <svg class="footer-icons" width="24" height="24">
              <use href="./images/icons.svg#twitter2"></use>
            </svg>
          </a>
        </li>
        <li class="footer-li">
          <a href="" class="footer-link">
            <svg class="footer-icons" width="24" height="24">
              <use href="./images/icons.svg#facebook2"></use>
            </svg>
          </a>
        </li>
        <li class="footer-li">
          <a href="" class="footer-link">
            <svg class="footer-icons" width="24" height="24">
              <use href="./images/icons.svg#linkedin2"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </address>
</div>
<script>
  //mobile-header here
  (() => {
    const mobileMenu = document.querySelector('.js-menu-container');
    const openMenuBtn = document.querySelector('.js-open-menu');
    const closeMenuBtn = document.querySelector('.js-close-menu');

    const toggleMenu = () => {
      alert('x here');
      const isMenuOpen =
        openMenuBtn.getAttribute('aria-expanded') === 'true' || false;
      openMenuBtn.setAttribute('aria-expanded', !isMenuOpen);
      mobileMenu.classList.toggle('is-open');

      const scrollLockMethod = !isMenuOpen
        ? 'disableBodyScroll'
        : 'enableBodyScroll';
      bodyScrollLock[scrollLockMethod](document.body);
    };

    openMenuBtn.addEventListener('click', toggleMenu);
    closeMenuBtn.addEventListener('click', toggleMenu);

    // Close the mobile menu on wider screens if the device orientation changes
    window.matchMedia('(min-width: 768px)').addEventListener('change', e => {
      if (!e.matches) return;
      mobileMenu.classList.remove('is-open');
      openMenuBtn.setAttribute('aria-expanded', false);
      bodyScrollLock.enableBodyScroll(document.body);
    });
  })();
</script>
