<section class="newWatch_section">
    <div class="container">
        <span class="section_title">New watches</span>
        <h2 id="section" class="section_header">Green And Bronze-The Match Made In Heaven</h2>
        <ul class="newWatch_list">
            <li class="newWatch_item"><img class="newWatch_img" src="./images/Rectangle-9.jpg" srcset="./images/Rectangle-9-2.jpg 2x" alt="Watch Model" width="576" height="422"></li>
            <li class="newWatch_item"><img class="newWatch_img" src="./images/Rectangle-8.jpg" srcset="./images/Rectangle-8-2.jpg 2x" alt="Watch Model" width="576" height="422"></li>
        </ul>
    </div>
</section>
